{% extends 'base.html' %}
{% load static %}

{% block titulo %} Novedades {% endblock titulo %}

{% block contenido %}

<h1 class="title">noticias</h1>
<div class="fondo-submenu">
  <div class="navbar">
    <a href="{% url 'noticias:listar' %}">Noticias</a>
    {% for cat in categorias %}
    <a href="?id={{cat.pk}}">{{cat.nombre}}</a>
    {% endfor %}
  </div>
</div>
<main class="main">
  
  <section class="principal">
    
    <section class="noticias">
      {% for noti in noticias %}
      <article class="post">
        <img src="{{noti.imagen.url}}" width="300px" height="auto" class="img-noticia">
        <p><a href="{% url 'noticias:detalle' noti.pk %}" class="titulos-noticias">{{noti.titulo}}</a></p>
        <!--
          <p>FECHA: {{noti.fecha}}</p>
          <p>CATEGORIA: {{noti.categoria_noticia}}</p>
          <p>CUERPO: {{noti.cuerpo}}</p>
        -->
      </article>
      {% endfor %}
    </section>
  </section>
</main>
  

{% endblock contenido %}