{% extends 'base.html' %}
{% load static %}

{% block titulo %} CONTACTO {% endblock titulo %}

{% block contenido %}
<body >
    
       <h1 class="title">CONTACTO</h1>
       
             <section class="about">
                <h2>Equipo de trabajo</h2>
                <p>
                Somos un equipo creativo formado por dos mujeres y un varón, actualmente cursando el Informatorio Chaco. Amantes de los videojuegos y de la tecnología, nos estamos formando para ingresar al mundo IT.
                </p>

                <div class="team-container">
                    <div class="card">
                        <img src="img2.jpg" alt="Integrante 2">
                        <h3>Nombre 2</h3>
                        <p class="rol">Desarrolladora Web</p>
                        <p>Futura desarrolladora con ganas de innovar en el mundo del gaming y la tecnología.</p>
                        <button>GitHub</button>
                    </div>

                    <div class="card">
                        <img src="img3.jpg" alt="Integrante 3">
                        <h3>Nombre 3</h3>
                        <p class="rol">Tester QA</p>
                        <p>Curioso, detallista y gamer de corazón. Apuntando a un rol técnico en IT.</p>
                        <button>GitHub</button>
                    </div>
                    <div class="card">
                        <img src="img1.jpg" alt="Integrante 1">
                        <h3>Nombre 1</h3>
                        <p class="rol">Diseñadora UX/UI</p>
                        <p>Apasionada por el diseño y los videojuegos. Siempre lista para un nuevo reto creativo.</p>
                        <button>Linkedin</button>
                    </div>
                </div>
            </section>
            <p class="contacto-texto2">¿Querés comunicarte con nosotros?</p>
        <section>
            <div class="redes">
                <div class="instagram">
                    <img src="{% static 'img/redes2.png'%}" width="30px" alt="Instagram">
                    <a href="https://www.instagram.com/accounts/emailsignup/" target="_blank">INSTAGRAM</a>
                </div>
                <div class="facebook">
                    <img src="{% static 'img/redes1.png'%}" width="30px" alt="Facebook">
                    <a href="https://www.facebook.com/NightGameSite" target="_blank">FACEBOOK</a>
                </div>
                <div class="correo">
                    <img src="{% static 'img/redes3.png'%}" width="30px" alt="Correo">
                    <a href="mailto:info@amigosdelarteyturismo.org" target="_blank">CORREO</a>
                </div>
                <div>
                    <img src="{% static 'img/redes5.png'%}" width="30px" alt="Ubicacion">
                    <a href="https://www.google.com/maps/dir/Xtreme+Game+Resistencia,+Arturo+Illia+602,+H3500+Resistencia,+Chaco/xtreme+game/@-27.4574188,-59.0653751,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x94450cee102a1e7d:0x3fef4cb673c043a2!2m2!1d-58.9829736!2d-27.457443!1m5!1m1!1s0x94450cee102a1e7d:0x3fef4cb673c043a2!2m2!1d-58.9829736!2d-27.457443?entry=ttu&g_ep=EgoyMDI1MDgxMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">UBICACION</a>
                </div>                
            </div>
         </section>
</body>
{% endblock contenido %}