{% extends 'base.html' %}
{% load static %}

{% block titulo %} INICIO {% endblock titulo %}

{% block contenido %}
<body>
  <header> 
    <section class="foto-portada">
      <h1 class="title">BIENVENIDOS</h1>
    </section>
  </header>
  <br>
  <br>
  <article class="integrante"><!-- cambiar la clase --> 
    <h2>Descubrí el universo gamer chaqueño: desarrolla, jugá, conectate.</h2>
  </article>
  <br>
    <p>
       Tu espacio para explorar la pasión por los videojuegos y la programación desde el corazón del Chaco. En una industria joven, urbana y global como la de videojuegos en Argentina, 
       nuestro blog nace con el propósito de despertar el talento local, compartir experiencias, tutoriales y novedades que conecten a jugadores, desarrolladores y curiosos chaqueños.
    </p>
      <img src="{% static 'img/porcentaje.png'%}" width="500px" alt="1% de desarrollo de videojuegos en chaco">
    <h3>Inspiración e identidad local:</h3>
    <p>
      Conocé historias como Pixel Lab Chaco, un programa provincial que impulsa a todos, incluso sin experiencia, a formarse en desarrollo de videojuegos,
       incluso sin experiencia, a formarse en desarrollo de videojuegos, con acompañamiento profesional  y financiamiento para hacer realidad tu idea 
    </p>
      <a href="https://campus-informatorio.chaco.gob.ar/" target="_blank">Informatorio</a>
    
    
 <!-- Agregar imagen -->
    <h3>¿Por qué es importante?</h3>
    <p>
     En Argentina, los videojuegos emergen como una industria cultural y económica poderosa: joven, conectada globalmente y con fuerte potencial exportador NEA HOY.
    </p>
    <p>
      Aquí en el Chaco, programas públicos, redes de creadores y asociaciones como Ew Gaming Club están sembrando las bases para que ese talento local crezca 
      y brille desde nuestra propia tierra.
    </p>

</body>

{% endblock contenido %}




