{% extends 'base.html' %}
{% load static %}

{% block titulo %} NOSOTROS {% endblock titulo %}

{% block contenido %}

<body>
  <header> <!-- Quitar seccion y modificar la clase -->
    <section class="foto-portada">
      <h1 class="title">¿Quienes somos?</h1>
    </section>
  </header>

  
    <h2>¡Hola!</h2>
  </article>
    <br>
    <p>Somos un equipo de tres apasionad@s por los videojuegos y la tecnología: 
      actualmente estamos formándonos en el Informatorio Chaco, con muchas ganas de dar el salto al mundo IT. 
    </p>
    <p>Aunque venimos de áreas distintas, nos une la curiosidad, la creatividad y una pasión compartida por los videojuegos en todas sus formas: 
      desde los clásicos que marcaron nuestra infancia hasta las últimas novedades del mundo gamer.
    </p>
    <p>
     Este blog nace como un espacio donde combinamos nuestras ganas de aprender, nuestras experiencias como jugadores y 
     nuestro crecimiento dentro del mundo del desarrollo y la tecnología.
    </p>
    <p>
     Queremos compartir análisis, noticias, curiosidades y reflexiones sobre el gaming desde una mirada fresca, inclusiva y en constante evolución.
    </p>
    <p>
    Estamos en camino de convertirnos en profesionales del sector IT, y este proyecto es parte de ese viaje. 
    </p>
    <p>
    Si te gustan los videojuegos tanto como a nosotros, ¡acá tenés un lugar para quedarte!
    </p>
  </article>
  </section>
<h2>Equipo de trabajo</h2>
  <div class="equipo">
   
    <div class="card">
      <img src="{% static 'img/avatar_moni.png' %}" alt="Avatar de Mónica" style="width:30%">
      <div class="container">
        <h4><b>Mónica</b></h4> 
        <p>Desarrolladora Web</p> 
      </div>
    </div>
   
        
    <div class="card">
      <img src="{% static 'img/avatarvanesa.png' %}" alt="Avatar de Vanesa" style="width:30%">
      <div class="container">
        <h4><b>Vanesa</b></h4> 
        <p>Diseñadora UX UI</p> 
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/avatarvanesa.png' %}" alt="Avatar de Vanesa" style="width:30%">
      <div class="container">
        <h4><b>Vanesa</b></h4> 
        <p>Diseñadora UX UI</p> 
      </div>
    </div>
  </div>
{% endblock contenido %}


