{% extends 'base.html' %}
{% load static %}

{% block titulo %} INICIO SESION {% endblock titulo %}
{% block contenido %}

<body >
	<section class="patrimonio">
		<article>
       		<h1 class="title">INICIO DE SESION</h1>
		</article>
		<article class="integrante">
            <h2 class="contacto-texto2">Únete a nuestra comunidad.</h2>
        </article>

            <p> Registrandote podras recibir toda la información de los eventos de nuestra comunidad.</p>
		<div class="iniciosesion">
			<form method="POST" class="login">{%csrf_token%}
				{{form.errors}}
				<div class="imgcontainer">
					 <!-- CAMBIAR POR LA IMAGEN DEL USUARIO DE SU REGISTRO -->
    				<img src="{% static 'img/avatarvanesa.png'%}" alt="Avatar" class="avatar"  style="width:20%">
  				</div>
				<div class="container">
					<label for="username"><b>Usuario</b></label>
					<input type="text" name="username" placeholder="Escribe tu nombre de usuario" class="usuario">
					<label for="password"><b>Contraseña<b></label>
					<input type="password" name="password" placeholder="Escribe tu contraseña" class="contrasena">

				<input type="submit" name="submit" value="ENVIAR" class="btn">
				</div>
			</form>
		</div>

	</section>
</body>
{% endblock contenido %}