
:root{
    --bg-color:#1b2021;
    --bg-secondary-color:#308c7d;
    --primary-color:#1b2021;
    --secondary-color:#514e80;
    --third-color:#8d99ae;
    --letter-color:color: rgb(255, 190, 255);
    --body-color:#0a1641;
    --header-bg:#15003d;
    --header-letter:rgb(255, 190, 255);
    --form-bg:#2c1a80;
    --letter-hover:#60fdbc;
}



*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Lucida Sans Unicode';
    background-color:var(--body-color);
}



/*principal*/
.main {grid-area: mein;}
.footer {grid-area: footer;}
/* 
.espaciador{grid-area: espaciador;}
.posicionador{grid-area: reel;}
.contenido{grid-area: contenido;} */













.image-container {
  width: 500px;      /* ancho deseado */
  height: 300px;     /* altura deseada */
  position: relative;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.grid-container {
    display: grid;
    grid-template-areas:
        /*6 columnas y 3 filas*/
        'main main main main main buscador'
        'info info info info info buscador'
        'footer footer footer footer footer footer';
    background-image: url(../img/fondo1.webp)
}

.grid-container .main{
    margin-left: 5vw;
    padding: 20px;
    background-color: rgb(13, 6, 44);
    /* background-color: var(--primary-color); */
}

.contenedor{
    margin-bottom: 20px;
}
.grid-container #reel{
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    border: groove 6px rgb(158, 76, 158);

    background-image: url(../img/reel4.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 65vh;
    border-radius: 10px;
    
    animation-name: cambiar;
    animation-duration: 25s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
#titulo1{
    padding-bottom: 3px;
    text-align: center;
    color: rgb(255, 190, 255);
}
#subtitulo{
    padding-bottom: 3px;
    text-align: center;
    color: rgb(255, 190, 255);
}
#titulo2{
    padding-top: 60px;
    text-align: center;
    color: rgb(255, 190, 255);
}
#cartelera{
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    justify-content: center;
}
.card{
    height: auto;
    box-shadow: 4px 4px 4px 4px black;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    border: groove 6px rgb(158, 76, 158);
    box-sizing: border-box;
    margin-bottom: 60px;
    color: white;
}
.imgresponsive{
    height: auto;
    height: 360px;
    width: 100%;
    display: block;
    transition: transform 0.3s ease-in-out;
}
.imgresponsive:hover{
    transform: scale(1.3);
}
.card h3{
    padding: 3px;
}
.card h4{
    padding: 3px;
    font-weight: lighter;
}

@media only screen and (min-width: 900px) and (max-width: 1200px){
    #cartelera{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 520px) and (max-width: 900px){
    .contenedor{
        margin: 0px;
    }
    #cartelera{
        grid-template-columns: 1fr 1fr;
    }
    
    
}
@media screen and (max-width:520px){
    .contenedor{
        margin: 0px;
    }
    #cartelera{
        grid-template-columns: 1fr;
    }
    
    
    
}
@keyframes cambiar{
    0%{background-image: url(../img/reel1.jpg);}
    25%{background-image: url(../img/reel2.jpg);}
    50%{background-image: url(../img/reel3.jpeg);}
    75%{background-image: url(../img/reel4.jpg);}
    /*100%{background-image: url(../img/reel5.jpg);}*/
}


